<div class="container">

  <!-- <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

      发斯蒂芬斯蒂芬

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

      大多数的

    </div>

  </div> -->

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="/images/iwatch2-02.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="content-container">
              <div class="splash-overlay"><h2 class="item-heading">Make your life more active</h2>Full of features that help you stay active, motivated, and connected, Apple Watch Series 2 is designed for all the ways you move<p class="subhead"></p>
                <div class="round-submit-1">
                  <div>
                      <a class="round-submit-button" href="/">
                        Shop iWatch 2</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Item -->
      <div class="item">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="/images/fitbit-charge2-01.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="content-container">
              <div class="splash-overlay"><h2 class="item-heading">Make every beat count</h2>Take charge of your day with the fitness wristband that tracks activity, exercise, sleep, and heart rate<p class="subhead"></p>
                <div class="round-submit-1">
                  <div>
                      <a class="round-submit-button" href="/">
                        Shop Fitbit Charge 2</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Item -->

      <div class="item">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="/images/Google-glass2-02.png">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="content-container">
              <div class="splash-overlay"><h2 class="item-heading">Make your life more colorful</h2>Something that’s still a way off a life as a viable, mainstream, commercial product <p class="subhead"></p>
                <div class="round-submit-1">
                  <div>
                      <a class="round-submit-button" href="/">
                        Shop Google Glass 2</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Item -->

    </div>
    <!-- End Carousel Inner -->

    <ul class="nav nav-pills nav-justified">
      <li data-target="#myCarousel" data-slide-to="0" class="active">
        <a href="#">Watch<small>Apple iWatch 2.0</small>
        </a>
      </li>
      <li data-target="#myCarousel" data-slide-to="1">
        <a href="#">Wristband<small>Fitbit Charge 2 Heart Rate + Fitness Wristband</small>
        </a>
      </li>
      <li data-target="#myCarousel" data-slide-to="2">
        <a href="#">Glass<small>Google glass 2.0</small>
        </a>
      </li>
    </ul>

  </div>
  <!-- End Carousel -->
  <div class="nocontent"> </div>



</div>


 <!-- Hot product 的产品部分 -->
<div class="hotproductbg">

  <div class="nocontent"> </div>
  <div class="row container">
    <div class="welcome-content-title">
      Hot Products
    </div>

        <div class="col-xs-6 col-md-4">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Apple iWatch 2.0</a></h3>
              <div class="pi-price">$500.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
              <div class="sticker sticker-new"></div>
            </div>
        </div>




        <div class="col-md-4">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="/images/fitbit-charge2-center-02.png" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Fitbit WristBand</a></h3>
              <div class="pi-price">$200.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="/images/Google-glass2-center-02.png" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Google Glass 2.0</a></h3>
              <div class="pi-price">$300.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
  </div>

  <div class="row container">
        <div class="col-xs-6 col-md-4">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="/images/arrowwatch01.png" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Arrow Smartwatch</a></h3>
              <div class="pi-price">$377.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
              <div class="sticker sticker-new"></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="/images/samsung-gear-2-01.png" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Samsung gear 2</a></h3>
              <div class="pi-price">$170.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="/images/microsoft-band-01.png" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Microsoft Band</a></h3>
              <div class="pi-price">$130.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
  </div>

  <div class="row container">
        <div class="col-xs-6 col-md-4">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="/images/lglifebandtouch-01.png" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">LG Lifeband Touch</a></h3>
              <div class="pi-price">$277.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
              <div class="sticker sticker-new"></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="/images/movea-g-series-01.png" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">Movea G Series</a></h3>
              <div class="pi-price">$170.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="/images/SONY-Project-Morpheus-01.png" class="img-responsive" alt="Berry Lace Dress">
                <div>
                  <a href="#" class="btn">View</a>
                </div>
              </div>
              <h3><a href="shop-item.html">SONY Project Morpheus</a></h3>
              <div class="pi-price">$130.00</div>
              <a href="javascript:;" class="btn add2cart">Add to cart</a>
            </div>
        </div>
  </div>


  <br>
  <br>

  <br>
  <br>
</div>

<!-- 以下代码实现上面的随时间滚动效果 -->
<script>
  $(document).ready(function () {
    $('#myCarousel').carousel({interval: 4000});

    var clickEvent = false;
    $('#myCarousel').on('click', '.nav a', function () {
      clickEvent = true;
      $('.nav li').removeClass('active');
      $(this).parent().addClass('active');
    }).on('slid.bs.carousel', function (e) {
      if (!clickEvent) {
        var count = $('.nav').children().length - 1;
        var current = $('.nav li.active');
        current.removeClass('active').next().addClass('active');
        var id = parseInt(current.data('slide-to'));
        if (count == id) {
          $('.nav li').first().addClass('active');
        }
      }
      clickEvent = false;
    });
  });
</script>
