// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*****************globals product details 01*************/


.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 31%;
    height: 134px;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0;
      border: 0px solid transparent;}
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }


.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  font-family: verdana, PingFangSC-Medium, Geneva, sans-serif;//"Comic Sans MS",
  margin-top: 20px;
  background: #fff;
  padding-top: 1em;
  padding-bottom: 3em;
  padding-right: 0px;
  padding-left: 0px;

  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff5722; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }
.price {
  font-size: 22px;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.review-no {
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.product-title {
  font-family: verdana, "Comic Sans MS", cursive, sans-serif !important;
  margin-top: 0; }
.product-description {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
  font-size: 20px;
  color: #384245;
}
.in-stock {
  font-size: 16px;
  color: #384245;
}
.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }



.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }



.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.productbg
{
  background: #fafafa;
  margin-top: -20px;
  margin-bottom: -20px;
}

// 实现小图的底线不为空房到application.scss 才可以，如下：应该是优先级的原因
// .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
//     color: #555555;
//     background-color: #fff;
//     border: 1px solid #ddd;
//     border-bottom-color: #ddd;
//     cursor: default;
// }

//实现数量添加




.btn-success {
  width: 100%;
  border-radius: 0;
}

.section {
  width: 100%;
  margin-left: -15px;
  padding: 2px 15px;
  //background: #f8f9f9;
}


.btn-minus {
  cursor: pointer;
  font-size: 7px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 2px;
  border-right: 0;
}

.btn-plus {
  cursor: pointer;
  font-size: 7px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 2px;
  border-left: 0;
}

div.section > div {
  width: 100%;
  display: inline-flex;
}

div.section > div > input {
  margin: 0;
  padding-left: 5px;
  font-size: 10px;
  padding-right: 5px;
  max-width: 18%;
  text-align: center;
}




// fitbit产品细节

// .details-content-title:after {
//     position: absolute;
//     content: '';
//     width: 7px;
//     height: 20px;
//     left: 0;
//     top: calc(50% - 14px);
//     background: #FF5722;
// }
//
//
// .details-content-title {
//   font-family: Tahoma, verdana, "Proxima Nova Light",Arial,sans-serif;
//     width: 100%;
//     font-size: 20px;
//     font-weight: 500;
//     color: #000;
//     //padding-top: 20px;
//     padding-left: 20px;
//     height: 40px;
//     line-height: 30px;
//     position: relative;
// }

// #container .number-one-seller-banner {
//     height: 400px;
//     position: relative;
//     z-index: 1;
//     background: url("https://static0.fitbit.com/simple.b-cssdisabled-jpg.hbaa5d4bf039126208d23bc56b5bb6f04.pack?items=%2Fcontent%2Fassets%2Flarrybird9483%2Fimages%2Fbanners%2Flarrybird9483-banner1-background.jpg") right no-repeat;
//     background-size: auto 100%;
// }
//
// #container .number-one-seller-banner h3 {
//     font-family: verdana, "Proxima Nova Light",Arial,sans-serif;
//     font-size: 40px;
//     line-height: 1.1;
//     color: #FFF;
//     max-width: 550px;
//     position: absolute;
//     right: 100px;
//     top: 140px;
// }



.li, .div {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
.sticky-nav {
    background-color: rgba(255,255,255,0.9);
    position: relative;
    z-index: 50;
    padding: 12px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.feature-title {
  margin-top: 30px;
  font-family: verdana;
  font-size: 18px;
  font-weight: bold;

}

// #container .number-one-seller-banner {
//     height: 400px;
//     position: relative;
//     z-index: 1;
//     background: url("https://static0.fitbit.com/simple.b-cssdisabled-jpg.hbaa5d4bf039126208d23bc56b5bb6f04.pack?items=%2Fcontent%2Fassets%2Flarrybird9483%2Fimages%2Fbanners%2Flarrybird9483-banner1-background.jpg") right no-repeat;
//     background-size: auto 100%;
// }
//
//
// #container .fitbitapp-banner {
//     height: 550px;
//     position: relative;
//     z-index: 1;
//     background: url("/images/fitbitapp01.png") right no-repeat;
//     background-size: auto 100%;
// }
//
//
// #container .fitbitapp-banner h3 {
//     max-width: 80%;
//     margin-left: 0px;
// }
//
// #container .fitbitapp-banner h3 {
//     color: #ff7522;
//     font-family: "Proxima Nova Light",Arial,sans-serif;
//     font-size: 30px;
// }
// #container .fitbitapp-banner * {
//     box-sizing: border-box;
// }
/* -------------------------------------- */
/* rounded  list style                    */

/* list */
.rounded-list ol > li
{
 line-height: 2em;
}

.rounded-list {
  font-family: verdana;
}
.rounded-list ol
{
counter-reset:li; /* Initiate a counter */
margin-left:0; /* Remove the default left margin */
padding-left:0; /* Remove the default left padding */
}

/* item  */
.rounded-list ol > li
{
position:relative; /* Create a positioning context */
list-style:none; /* Disable the normal item numbering */
background:#ffffff; /* Item background color */
margin:0; /* Give each list item a left margin to make room for the numbers */
padding-left: 13px; /* Add some spacing around the content */
padding-bottom:0px;
padding-top:0px;
}

/* number  */
.rounded-list ol > li p:before
{
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
color: #fff;
/* number background */
background: #ff5722;
height: 1.8em;
width: 1.8em;
margin-top: -1em;
line-height: 1.5em;
border: .3em solid #ff5722;
text-align: center;
font-weight: bold;
font-size: 13px;
border-radius: 2em;
}


//review color
.reviews-form .btn-primary, .reviews-form .btn-primary:hover {
  background-color: #ff5722;
  border-color: #ff5722;
}

.review-delete .btn-sm {
  color: #ff5722;
}

.desc-feature {
  text-align: center;
}
