<style type="text/css">
a:link {
color:#3C3C3C;
text-decoration:none;
}
a:visited {
color:#3C3C3C;
text-decoration:none;
}
a:hover {
color:#ff5722;
text-decoration:none;
}
a:active {
color:#3C3C3C;
text-decoration:none;
}
.team img {
  width: 50%;
}
</style>


<div class="container">
	<div class="row">

    <br>

        <div role="tabpanel">
            <div class="col-sm-3" style="font-family: Comic Sans MS, cursive, sans-serif !important">
                <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
                  <h3 style="color:#ff5722">About Us</h3>
                    <li role="presentation" class="brand-nav"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Corporate Profile</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Founder's Profile</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Mission & Value</a></li>
                  <h3 style="color:#ff5722">Buyer Protection</h3>
                    <li role="presentation" class="brand-nav"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Safe Payment</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">Refund & Returns</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">Privacy Policy</a></li>
                  <h3 style="color:#ff5722">Let us help you</h3>
                    <li role="presentation" class="brand-nav"><a href="#tab7" aria-controls="tab7" role="tab" data-toggle="tab">Contact Us</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab8" aria-controls="tab8" role="tab" data-toggle="tab">Terms & Conditons</a></li>
                </ul>
            </div>


				 <body style="font-family: verdana, PingFangSC-Medium, Geneva, sans-serif">

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                      <h2>About Us</h2>
                      <br>
                        <p>
													Connecting people who love wearable technology all over the world.
											  </p>
												<p>
													iKnew aims to provide consumers around the world with an innovative and robust ecommerce platform through close cooperation with domestic suppliers in China.
												</p>
												<p>
													As a technology-driven company, Iknew has focused considerable effort in developing a robust and scalable platform which not only supports the company’s rapid growth but also allows it to provide cutting-edge technology and services to its partners and customers.
                          Iknew appreciates you and hopes you live a healthier as well as more active life.
                        </p>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="tab2">
												<h2>Founder's Profile</h2>
												<br>
												<br>
												<p class="text-center">From the first online course of Fullstack</p>
												<p class="text-center">This website is the work for JDStore magic change competition in Fullstack</p>
												<br>
                        <div class="col-xs-12 text-center">
                            <br>
                              <div class="row team text-center">
                                <div class="col-xs-4 col-md-offset-1 team1" >
                                  <img src="http://ojtrxnp3v.bkt.clouddn.com/image/jpg/about.JPG" class="img-circle person" alt="">
                                  <h3 style="font-family: Comic Sans MS, cursive, sans-serif !important"><strong>Marc Dai</strong></h3>
                                  <p>A newbie from the first online course of Fullstack</p>
                                  <p>Blog: <a href="http://marcfly7.logdown.com">Marc Dai's blog</a></p>
                                  <a href="#qcode-1" data-toggle="collapse">Wechat: soarmarc</a>
                                  <p></p>
                                  <br>
                                </div>
                                <div class="col-xs-4 col-md-offset-2 team2">
                                <img src="http://ojtrxnp3v.bkt.clouddn.com/image/jpg/IMG_4043.jpeg" class="img-circle person" alt="">
                                <h3 style="font-family: Comic Sans MS, cursive, sans-serif !important"><strong>Wu Lan</strong></h3>
                                <p>A newbie from the first online course of Fullstack</p>
                                <p>Blog: <a href="http://lancaoxiangshe-blog.logdown.com">Wu Lan's blog</a></p>
                                <a href="#qcode-2" data-toggle="collapse">Wechat: wulantoo</a>
                                <p></p>
                                <br>
                              </div>
                          </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <h2>Mission & Values</h2>
                        <br>
                        <p>
                            1. Mission: To make life carefree and joyful.
                        </p>
                        <p>
                            2. Vision: To become the most trust worthy company in the world.
                        </p>
                        <p>
                            3. iKnew’s core values: Customer first, Integrity, Teamwork, Passion, Innovation
                        </p>
                        <p>
                              <li>Customer first</li>
                              <li>Integrity: Honesty, Accountability, Commitment</li>
                              <li>Teamwork: People Oriented, Cooperation Oriented, Big picture Oriented</li>
                              <li>Passion: Be No.1, Enjoy Work, Never Give Up</li>
                              <li>Innovation: Be Better, Keep Learning, Accept Setbacks</li>
                        </p>
                      </div>

                      <div role="tabpanel" class="tab-pane" id="tab4">
                        <h2>Safe Payment</h2>
                          <br>
                          <h4>What methods of payment are accepted?</h4>
                          <p>
                            We currently accept Alipay and Wechatpay as methods of payment. We are working towards accepting more payment methods in the future. Please check with us soon for further updates. We apologize for any inconvenience caused.
                          </p>
                          <br>
                          <h4>How to pay for my orders via Alipay or Wechat?</h4>
                          <p>
                            1. Once you have submitted your order, you will be taken directly to the PayPal website where you can sign in and make a payment for your order through PayPal. Please note that you only have 72 hours to complete this process. Alternatively, you can navigate to My Account > My Orders, click on your order and make your payment.
                          </p>
                          <p>
                            2. Instructions for payment on Checkout Page
                          </p>
                            <li> Step 1: Choose Payment Method </li>
                            <li> Step 2: Click pay by Alipay or Wechat account and enter your account information to complete payment.  </li>
                          <br>
                          <h4>How do I know if my payment has been successful?</h4>
                          <p>
                            One reason your payment may be rejected is due to incorrect shipping information; please confirm that the information provided is in a similar format to what is outlined below.
                          </p>
                             <li> State City, Country/Region, State/Province, Post Code/Zip, respectively </li>
                             <li> Country/Region, State/Province information must be one of the options provided in the list. </li>
                             <li> All the information must NOT be abbreviated. </li>
													<br>
                      </div>

                      <div role="tabpanel" class="tab-pane active" id="tab5">
                        <h2>Refund & Returns</h2>
                        <br>
                          <p>
                            We offer a refund for most items within 30 days of receipt of shipment. Most items follow our general Return’s Policy. When you return an item, your refund and how your refund is issued may differ based on the condition of the item, how long you've had it, and how the item was purchased.
                          </p>
                          <p>
                            The process to return an ordered item is as follows:
                          </p>
                             <li> Email contact@iknew.com to apply </li>
                             <li> Provide clear pictures of the item, tracking label and write a brief reason why the product is being returned. </li>
                             <li> We will resolve the refund issue within 2 business days. </li>
                          <br>
                          <p>
                            If we make changes to this Privacy Policy, we will post an updated version on our website. Please review this policy from time to time. If you have any questions relating to the Privacy Policy or general Terms & Conditions, please contact us at contact@iknew.com
                          </p>
                      </div>
                      <div role="tabpanel" class="tab-pane active" id="tab6">
                        <h2>Privacy Policy</h2>
                        <br>
                          <h4>Introduction</h4>
                          <p>
                            This Privacy Policy explains how we collect, use, disclose and safeguard your personal information. The security of your personal information is of utmost importance, so we are committed to maintaining the confidentiality of all personal information you have provided to us and we take all reasonable precautions to protect your personal information from unauthorized use. We will also take efforts to comply with the applicable laws under which we process the information collected from you. By using and accessing this website, you accept the practices described under this policy.
                          </p>
                          <br>
                          <h4>Collection of Personal Information</h4>
                          <p>
                            We collect information about you when you visit our website and use our services. When you provide us with information, you consent to the transfer and storage of information on our servers, which are located in the People’s Republic of China (PRC).
                          </p>
                          <br>
                          <h4>Use and Disclosure of Personal Information</h4>
                          <p>
                            Personal information that we collect from you will be used and disclosed only to provide products and services to you, or otherwise to carry out our business.
                          </p>
                          <p>
                            Types of personal information we may use and disclose include:
														 <li> Internally to provide a service to you </li>
														 <li> Communicating with you </li>
														 <li> Legal Purposes </li>
                          </p>
                          <p>
                            There may be some circumstances where will be legally required to share personal information.
														<li> Externally </li>
                          </p>
                          <p>
                            We may share your information with third parties we engage with to perform services on our behalf. For example sharing logistics information: fulfilling and delivering packages, receiving packages, enabling access to affiliated business websites etc. However, we will not sell or loan your information to third parties unless we ask for your permission upfront.
														<li> Data Retention </li>
                          </p>
                          <p>
                            We will retain your information for as long as your account is active with us or as required to provide services to you. We will also retain data in compliance with our legal obligations.
                          </p>
                          <p>
                            We will ask for your consent before releasing information about you to third parties outside those stated above.
                          </p>
                          <br>
                          <h4>Security and Protection of your personal information</h4>
                          <p>
                            Our website is secured and encrypted using Secure Socket Layer (SSL) technology. Our servers are located in the People’s Republic of China (PRC), and we also take measures to protect your personal information in our facilities and protect your personal information from unauthorized access and use. While we use industry standard software to safeguard your personal information, we cannot guarantee complete security of your personal information. We also protect your personal information through the use of password controls that we ask you to keep confidential. We will never ask you for your password, and you may change it at anytime under “My Account”.
                          </p>
                          <br>
                          <h4>Children and Privacy</h4>
                          <p>
                            Our websites do not target and are not intended to attract children under the age of 18. We do not knowingly solicit personal information from children under the age of 18 or send them requests for personal information.
                          </p>
                          <br>
                          <h4>Third Party Sites</h4>
                          <p>
                            Our website contains links to other websites operated by other companies. We do not share your personal information with those websites (unless we have asked for your permission as stated above) and are not responsible for their privacy practices.
                          </p>
                          <p>
                            We encourage you to check the applicable privacy policy of the third party website to determine how they will handle any information they collect from you.
                          </p>
                          <br>
                          <h4>Business Transitions</h4>
                          <p>
                            In the event that we go through a business transition, such as a merger or acquisition by another company, or sale of all or a portion of our assets, your personal information will likely be among the assets transferred. You will be notified via prominent notice on our website for 30 days of any such change in ownership or control of your personal information.
                          </p>
                      </div>
                      <div role="tabpanel" class="tab-pane active" id="tab7">
                        <h2>Contact Us</h2>
                        <br>
                          <h4>Business Development Contact</h4>
                          <p>
                            Email: sales@iknew.com
                          </p>
                          <p>
                            Address：Siming, Xiamen, China
                          </p>
                          <br>
                          <h4>Customer service</h4>
                          <p>
                            We look forward to assisting you with any of your shopping queries. If you can’t find your expected answers here, our Customer Service Team will be available. Our working hours are from 21:00 Sunday to 6:00 Friday (EST time), during which, we will endeavor to respond to your email within 24 hours. Email:wullantoo@live.com
                          </p>
                      </div>
                      <div role="tabpanel" class="tab-pane active" id="tab8">
                        <h2>Terms & Conditons</h2>
                        <br>
                            <h4>Introduction</h4>
                            <p>
                              These Terms & Conditions (hereinafter “T&Cs”) constitute a legally binding agreement between you and iKnew. Please read the following T&Cs carefully before registering with the iKnew Website and using any of the iKnew Services. By accepting this agreement, you agree to be bound by the T&Cs by accessing/browsing this iKnew Website and using iKnew Services, regardless of whether you create an account with iKnew Website or place an order. If you breach any of the T&Cs, you are prohibited from continuing to use the iKnew Website and iKnew Services. We reserve the right to change this iKnew Website and these T&Cs at any time with outpour notice.
                            </p>
                            <br>
                            <h4>Terms of Use</h4>
                            <p>
                              1. You agree to and are solely responsible for the following: Providing accurate information required for using the iKnew Website and iKnew Services, including, without limitation, information related to your account and orders. Not posting or transmitting to the iKnew Website any material which is: threatening, in breach of confidence, private, violates or infringes the copyrights, patents, trademarks or other proprietary rights of any person, infringes on the rights of a thirdparty, can potentially cause technical damage to the iKnew Website.
                            </p>
                            <p>
                              2. Vision: To become the most trust worthy company in the world.
                            </p>
                            <p>
                              3. iKnew reserves the right to remove any information which we believe is unlawful or inappropriate, violates the T&Cs stated or could potentially result in liability to iKnew.
                            </p>
                            <p>
                              4. You may sign up for the iKnew Website with an email address. iKnew will assign your account identification and a password to enable you to access to the iKnew Website and receive the iKnew Services. Each time you login, you will be deemed an authorized user of the iKnew Website in a manner consistent with the T&Cs. You are solely responsible for protecting the confidentiality of the password you have provided to the iKnew Website and identification information assigned to you. You will notify us immediately of any unauthorized or misuse of your account.
                            </p>
                            <p>
                              5. When you use any iKnew Services, or send e-mails, text messages, and other communications from your desktop or mobile device to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you in a variety of ways, such as by e-mail, text, in-app push notices, or by posting notices and messages at this iKnew Website or through the other iKnew Services. You agree that all agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
                            </p>
                            <br>
                            <h4>Termination of Use</h4>
                            <p>
                              Knew reserves the right to terminate your account and your use of the iKnew Website and all of the offered iKnew Services when the T&Cs are breached by you for any reason what so ever. You are personally liable for any orders that you place with us or charges that you incur prior to the termination of use. iKnew reserves the right to change or discontinue all or any aspects of the iKnew Website at any time without prior notice.
                            </p>
                            <br>
                            <h4>Pricing Errors and Product Information</h4>
                            <p>
                              The iKnew Website displays prices and availability of products and services which are subject to change without notice. We will make every effort to ensure errors will be corrected where discovered. iKnew reserves the right, at any time, to revoke any stated offers and to correct any errors or omissions after an order has been placed with us. iKnew will attempt to display product information (details and images shown) on this iKnew Website as accurately as possible.
                            </p>
                            <br>
                            <h4>Validating Your Order</h4>
                            <p>
                              After you place an order with us, this iKnew Website will perform a validity check. iKnew reserves the right to reject or cancel any order you place with us, and/or to limit quantities on any order, without giving any reason. These restrictions may include orders placed using the same iKnew account, the same credit card or orders that use the same billing or shipping address. If we reject your order, our Customer Service Team will attempt to notify you using the email address provided with your account.
                            </p>
                            <br>
                            <h4>Order Acceptance/Confirmation</h4>
                            <p>
                              Your receipt of an electronic or other form of order confirmation does not signify our acceptance of your order, nor does it constitute confirmation of our offer to sell. The iKnew Website reserves the right at any time after receipt of your order to accept or decline your order for any reason.
                            </p>
                            <br>
                            <h4>Order Payment</h4>
                            <p>
                              Once the payment has been made within 24 hours after your order is placed, we will confirm your order and begin the order dispatch process.
                            </p>
                            <br>
                            <h4>Using Coupons and Coupon Codes</h4>
                            <p>
                              Coupons or Coupon Codes can be used at the time the order is placed. Your use of the Coupons or Coupon Codes shall be subject to these terms and conditions, any relevant activity rules, and any other applicable terms and conditions.
                            </p>
                            <p>
                              If you request to cancel your order or return items, and such request is approved by us, the payment you have made for the order will be refunded in accordance with our Return Policy.
                            </p>
                      </div>
                 </div>
              </div>
					 </div>
         </div>
      </body>
	 </div>
</div>
