<%= simple_form_for([@product, @product.reviews.build]) do |f|%>

  <div class="field">
      <%= f.text_area :body, class: "form-control" %>
  </div>
 <br>
   <% if !current_user %>
     <div class="checkout clearfix pull-right">
       <div class="round-submit-1 reviews-form">
         <div>
             <a class="round-submit-button" data-toggle="modal" data-target="#login-modal">
               Add a Review</a>
         </div>
       </div>

     </a></span>
    </div>
   <% else %>

   <div class="round-submit-1 reviews-form">
     <%= f.submit "Add a Review", class: "reviews-form round-submit-button pull-right" %>
   </div>
   <% end %>

<% end %>
